HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/src/main/resources/config/application.properties
src/main/resources/static/raffle/assets/eve/backgrounds/1.mp4
src/main/resources/static/raffle/assets/eve/backgrounds/2.mp4
src/main/resources/static/raffle/assets/eve/backgrounds/3.mp4
src/main/resources/static/raffle/assets/eve/backgrounds/4.mp4
src/main/resources/static/raffle/assets/eve/backgrounds/5.mp4
src/main/resources/static/raffle/assets/eve/backgrounds/35.mp4
src/main/resources/static/raffle/assets/albion/boom.mp3
src/main/resources/static/raffle/assets/albion/giphy.gif
src/main/resources/static/raffle/assets/albion/laser.mp3
src/main/resources/static/raffle/assets/albion/laser.png
src/main/resources/static/raffle/assets/albion/nuke.png
src/main/resources/static/raffle/assets/albion/backgrounds/1.png
src/main/resources/static/raffle/assets/albion/backgrounds/2.png
src/main/resources/static/raffle/assets/albion/backgrounds/3.png
src/main/resources/static/raffle/assets/albion/backgrounds/4.png
src/main/resources/static/raffle/assets/albion/backgrounds/5.png
src/main/resources/static/raffle/assets/albion/backgrounds/6.png
src/main/resources/static/raffle/assets/albion/backgrounds/7.png
src/main/resources/static/raffle/assets/albion/backgrounds/8.png
src/main/resources/static/raffle/assets/albion/backgrounds/9.png
src/main/resources/static/raffle/assets/albion/backgrounds/10.png
src/main/resources/static/raffle/assets/albion/backgrounds/11.png
src/main/resources/static/raffle/assets/albion/backgrounds/12.png
src/main/resources/static/raffle/assets/albion/backgrounds/13.png
src/main/resources/static/raffle/assets/albion/backgrounds/14.png
src/main/resources/static/raffle/assets/albion/backgrounds/15.png
src/main/resources/static/raffle/assets/albion/backgrounds/16.png
src/main/resources/static/raffle/assets/albion/backgrounds/17.png
src/main/resources/static/raffle/assets/albion/backgrounds/18.png
src/main/resources/static/raffle/assets/albion/backgrounds/19.png
src/main/resources/static/raffle/assets/albion/backgrounds/20.png
src/main/resources/static/raffle/assets/albion/backgrounds/21.png
src/main/resources/static/raffle/assets/albion/backgrounds/22.png
src/main/resources/static/raffle/assets/albion/backgrounds/23.png
src/main/resources/static/raffle/assets/albion/backgrounds/24.png
src/main/resources/static/raffle/assets/albion/backgrounds/25.png
src/main/resources/static/raffle/assets/albion/backgrounds/26.png
src/main/resources/static/raffle/assets/albion/backgrounds/27.png
src/main/resources/static/raffle/assets/albion/backgrounds/28.png
src/main/resources/static/raffle/assets/albion/backgrounds/29.png
src/main/resources/static/raffle/assets/albion/backgrounds/30.png
src/main/resources/static/raffle/assets/albion/backgrounds/31.png
src/main/resources/static/raffle/assets/albion/entities/Ship.png
src/main/resources/static/eve/gamelog/history/2/index.html
src/main/resources/static/eve/gamelog/history/2/sampler.js
src/main/resources/static/eve/gamelog/history/2/samplerChatGPT.js
src/main/resources/static/eve/gamelog/history/2/script.js
src/main/resources/static/eve/gamelog/history/2/stats.png
src/main/resources/static/eve/gamelog/history/2/styles.css
src/main/resources/static/eve/gamelog/history/2/uPlot.iife.min.js
src/main/resources/static/eve/gamelog/history/2/uPlot.min.css
src/main/resources/static/iskPerHour/iskPerHour.css
src/main/resources/static/iskPerHour/iskPerHour.html
src/main/resources/static/iskPerHour/iskPerHour.js
src/main/resources/static/iskPerHour/iskPerHourCP.html
src/main/resources/static/iskPerHour/iskPerHourCP.js
src/main/resources/static/iskPerHour/iskPerHourStorage.js
src/main/resources/static/kne/kne.html
src/main/resources/static/kne/kne.js
src/main/resources/static/kne/kneCP.html
src/main/resources/static/kne/kneCP.js
src/main/resources/static/kne/kneStorage.js
src/main/resources/static/misc/test/testEventsCP.html
src/main/resources/static/misc/test/testEventsCP.js
src/main/resources/static/path/example.html
src/main/resources/static/path/path.html
src/main/resources/static/path/path.js
src/main/resources/static/path/svg.js
src/main/resources/static/path/svg.js.map
src/main/resources/static/path/vis-network.min.js
src/main/resources/static/path/vis-network.min.js.map
src/main/resources/static/test/test.html
src/main/resources/static/tracking/alert.webm
src/main/resources/static/tracking/countUp.js
src/main/resources/static/tracking/tracking.css
src/main/resources/static/tracking/tracking.html
src/main/resources/static/tracking/tracking.js
src/main/resources/static/tracking/trackingCP.html
src/main/resources/static/tracking/trackingCP.js
src/main/resources/static/tracking/trackingStorage.js
src/main/resources/static/tracking/wehype/chrome/content.js
src/main/resources/static/tracking/wehype/chrome/frankfurter.js
src/main/resources/static/tracking/wehype/chrome/manifest.json
src/main/resources/static/tracking/wehype/chrome/wrapper.html
src/main/resources/static/tracking/wehype/chrome/wrapper.js
src/main/java/net/erstschlag/playground/obs/OBSIntegrationService.java
src/main/java/net/erstschlag/playground/websocket/client/TestEventController.java
src/main/resources/static/raffle/assets/albion/entities/Capsule.png
src/main/resources/static/raffle/board.js
src/main/resources/static/ticker/script.js
